name = "Geography"
uuid = "a8dd9ffe-31dc-4cf5-a379-ea69100a8233"
authors = ["Aayush Joglekar <aayushjog@gmail.com> and contributors"]
version = "0.1.0"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
